* {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Primary Color 
color: #FD6E0A;
*/

/* Secondary Color
    color: #FFF8F3;
 */

/* Header Style */
.header {
  padding: 30px 150px;
  background-color:#FFF8F3;

  background-image: url('../img/header_bg.png'), url('../img/developer.png');
  background-repeat: no-repeat;
  background-position: bottom right, bottom left;
}
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 50px;
}

.nav-list {
  display: flex;
  align-items: center;
}

.nav ul li {
  list-style: none;
  margin: 15px;

  font-size: 20px;
}

.nav li a {
  text-decoration: none;
  color: black;
}

.nav-title {
  font-size: 45px;
  font-weight: bolder;
}
.primary-color {
  color: #fd6e0a;
}

.btn {
    background-color: #fd6e0a;
    border: none;
    border-radius: 5px;
    color: #fff;

    font-size: 20px;
    font-weight: 500;
}

.nav-btn {
  width: 100px;
  height: 42px;
  margin-left: 15px;
}

.developer {
    display: flex;
    align-items: center;
    gap: 20px;
}

.title {
    color: #181818;
}

.title-sub {
    font-size: 36px;
    font-weight: 400;
    line-height: 42px;
    margin-bottom: 5px;
}

.title-primary {
    font-size: 65px;
    font-weight: 700;
    line-height: 86px;
    margin-bottom: 20px;
}
.dev-description {
    max-width: 60%;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 30px;

    color: #757575;
}
.hardy {
    height: 450px;
}

.cv-btn {
    padding: 12px 18px;
    margin-right: 30px;
}

.contact-btn {
    font-size: 18px;
    font-weight: 500;
    background-color: #FFF8F3;
    color:#fd6e0a;
    border: 1px solid #FD6E0A;
    padding: 12px 24px;
    border-radius: 5px;
}

/* Style for about section */

section {
    margin: 100px 120px;
}

.about {
    background-color:  #FFF8F3;
    text-align: center;
    padding: 80px 140px;
}

.about-title{
    font-size: 28px;
    font-weight: 700;
    line-height: 28px;
    text-align: center;
}

.about-desc {
    max-width: 100%;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;

    color: #757575;
    margin: 30px 0;
}

.about .details{
    display: flex;
    justify-content: center;
    gap: 80px;

    font-family: 400;
}

.details div p{
    color:#757575;
}
.details div h4{
    color:#474747;
}